@import '~normalize.css';
@import 'fonts.scss';

body {
    font-family: 'Dongle', sans-serif;
    font-size: 1.2rem;
}

.container {
    padding-bottom: 2rem;
    background-color: blue;
    min-width: 400px;
    min-height: 500px;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url('../img/webpack2.png');
    background-size: cover;
    width: 500px;
    margin: 0 auto;
    height: 200px;

    &__idem {
        color: red;
    }
}

.code {
    color: rgb(255, 0, 0);
}